/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /*color: #555;*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 0;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Navbar */
.navbar {
    padding-bottom: 6px;
}

/* Nav links */
.nav-link {
    position: relative;
    padding: .8rem;
    font-weight: 500;
    color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Nav toggle */
.navbar-toggler {
    border: none;
    padding: 5px 8px;
}


/*
 * Blog name and description
 */

.blog-header {
    padding: 2.5rem 0 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
    background: #fafafa;
}
.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}
.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}
.blog-pagination > .btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* Disabled links */
.link-disabled {
    pointer-events: none;
    color: rgba(0,0,0,.35)
}

/*
 * Tables
 */

thead,
th {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

tbody tr:hover,
tbody tr:focus {
    background: rgba(0,0,0,.03);
}

/* Table list */
.table-list {
    border: none;
    margin-left: 2rem;
}

.table-list td {
    border: none;
    padding: .25rem .5rem;
}

/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #fafafa;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}